{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Alexeys Blog{% endblock %}</title>


    <!-- Ваш CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extrahead %}{% endblock %}
</head>

<body>
    <header class="header">
        <div class="container">
            <a class="logo" href="/">
                <strong>Alexeys Blog</strong>
            </a>
            <nav class="nav">
                <a href="{% url 'home' %}"
                    class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
                <a href="{% url 'about' %}"
                    class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a>
                <a href="{% url 'versions' %}"
                    class="{% if request.resolver_match.url_name == 'versions' %}active{% endif %}">Version History</a>
                <a href="{% url 'login' %}"
                    class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Log in</a>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>Version: 2.3.2</p>
        </div>
    </footer>

    {% block scripts %}{% endblock %}
</body>

</html>
