{% extends 'main/base.html' %}
{% block title %}History | {% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        {% for post in posts %}
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">{{ post.created_at|date:"d-M-Y" }}</h2>
                            <h1 class="title">{{ post.version }} </h1>
                            <p>{{ post.body }}</p>
                    </div>
                    {% endfor %}
                    <form method="POST" class="mb-6">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="field"><button class="button is-success">Add version</button></div>
                </div>
                </form>

                </div>
        </div>
    </div>
    </div>
</section>
</div>
{% endblock %}