{% extends 'main/base.html' %}
{% load static %}

{% block title %}Version History | Alexeys Blog{% endblock %}


{% block content %}
<!-- Список версий -->
{% for post in posts %}
<article class="post">
    <h2 class="post-date">{{ post.created_at|date:"d M Y" }}</h2>
    <h1 class="post-title">{{ post.version }}</h1>
    <div class="post-body">{{ post.body }}</div>
</article>
{% endfor %}


<!-- Форма добавления версии -->
<form method="POST" class="version-form">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.version.id_for_label }}">Version</label>
        {{ form.version }}
    </div>
    <div class="form-group">
        <label for="{{ form.body.id_for_label }}">Description</label>
        {{ form.body }}
    </div>
    <button type="submit" class="btn btn-primary">Add version</button>
</form>
{% endblock %}
