name: Deploy Django App

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      PROJECT_DIR: /home/achekhirov/django-app
      VENV_PATH: /home/achekhirov/venv
      SSH_HOST: $SERVER_HOST

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: $SSH_HOST
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Переходим в папку проекта
            cd "$PROJECT_DIR" || { echo "Проект не найден: $PROJECT_DIR"; exit 1; }


            echo "Текущий каталог: $(pwd)"


            # Обновляем код
            git reset --hard
            git pull origin master

            echo "Код обновлён"


            # Активируем venv
            source "$VENV_PATH/bin/activate"


            echo "venv активирован: $(which python)"


            # Устанавливаем зависимости
            pip install -r requirements.txt


            echo "Зависимости установлены"


            # Собираем статику
            python manage.py collectstatic --noinput


            echo "Статика собрана"


            # Применяем миграции
            python manage.py migrate --noinput


            echo "Миграции применены"


            # Перезапускаем Gunicorn
            sudo systemctl restart gunicorn.service


            echo "Деплой завершён"
