name: Deploy Django App

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{ vars.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Используем переменные репозитория
            PROJECT_DIR="${{ vars.PROJECT_DIR }}"
            VENV_PATH="${{ vars.VENV_PATH }}"
            DJANGO_SETTINGS_MODULE="${{ vars.DJANGO_SETTINGS_MODULE }}"


            # Переходим в папку проекта
            cd "$PROJECT_DIR" || { echo "Проект не найден: $PROJECT_DIR"; exit 1; }


            echo "Текущий каталог: $(pwd)"


            # Обновляем код
            git reset --hard
            git pull origin master


            echo "Код обновлён"


            # Активируем venv
            source "$VENV_PATH/bin/activate"


            echo "venv активирован: $VENV_PATH"


            # Устанавливаем зависимости
            pip install -r requirements.txt


            echo "Зависимости установлены"


            # Собираем статику
            python manage.py collectstatic --noinput


            echo "Статика собрана"


            # Применяем миграции
            python manage.py migrate --noinput


            echo "Миграции применены"


            # Перезапускаем Gunicorn
            sudo systemctl restart gunicorn.service


            echo "Деплой завершён"
